* {
    margin: 0 !important;
    padding: 0;
    box-sizing: border-box;
}
/* root */
:root{
    --brown:#dcb658;
    --ivory:white;
    --black:rgba(0, 0, 0, 0.609);
    --dblack:black;
    --grey:rgb(162, 154, 154);
}
/* nav-bar */
.nav-bar1 {
    position: fixed;
    top: 0;
}
.nav-one {
text-transform: capitalize;
font-weight: 200;
}
.nav-one>a:hover {
    color: var(--brown)!important;
}
.nav-one1 {
    color: var(--brown) !important;
}
/* bg video */
.box1 {
    color: var(--ivory);
    background-color: var(--black);
    height: 50vh;
    margin-top: 0px !important;
}
/* 3 box */
.text-3 {
    color: var(--grey);
    background-color: var(--dblack);
    
}
.text-3 h1 {
    color: var(--ivory);
}
